dash==2.18.1
dash-bootstrap-components==1.7.1
pandas==2.2.3
plotly==5.24.1
requests==2.32.3
beautifulsoup4==4.12.3
schedule==1.2.2
numpy==2.1.2
waitress==3.0.2
gunicorn==23.0.0
geopandas==1.0.1
flask==3.0.3
datetime==5.5
typing==3.7.4.3
